- title "Försäljare"
%section.box.index
  %h1.box-title= h1
  %table.full.wrap
    %thead
      %tr
        %th Namn
        %th Bokningar
        %th Personnummer
        %th Senast inloggad

    %tbody
      - @sellers.each do |seller|
        %tr
          %td= seller.seller_account.name
          %td= link_to 'Bokningar',  bookings_path(seller)
          %td= seller.username
          %td= seller.last_login_at.to_s[0...20]
