- title "Försäljare"
%section.box.index
  %h1.box-title= h1
  %table.full.wrap
    %thead
      %tr
        %th Namn
        %th Personnummer
        %th Senast inloggad

    %tbody
      - @seller_accounts.each do |seller|
        %tr
          %td= link_to seller.name, edit_seller_account_path(seller)
          %td= seller.user.username
          %td= seller.user.last_login_at.to_s[0...20]
      %tr
        %td{ colspan: 3 }
          .actions= link_to t('actions.new'), new_seller_account_path, class: "btn btn-primary"
