.box-content
  = simple_form_for @seller, html: { class: "basic" } do |f|
    = f.error_notification class: "warning"

    - if @seller.new_record?
      = f.input :snin_birthday
      = f.input :snin_extension
      = f.input :name
    - else
      = show_attribute('seller.snin_birthday', @seller.snin_birthday)
      = show_attribute('seller.name', @seller.name)
    = f.association :company, include_blank: false

    = render 'application/submit', form: f, cancel_path: sellers_path
