.box-content
  = simple_form_for @seller, html: { class: "basic" } do |f|
    = f.error_notification class: "warning"

    - if @seller.new_record?
      = f.input :snin
      = f.input :name
    - else
      = show_attribute('seller.snin', @seller.formatted_snin)
      = show_attribute('seller.name', @seller.name)
    = f.association :company, include_blank: false

    = render 'application/submit', form: f, cancel_path: sellers_path

  - unless @seller.new_record?
    .delete= button_to t('actions.delete'), @seller, method: :delete, data: { confirm: 'Är du säker?' }, class: "btn btn-danger btn-sm"
