- title "Försäljare"
%section.box.index
  %h1.box-title= h1
  %table.full.wrap
    %thead
      %tr
        %th Namn
        %th Personnummer
        %th E-post
        %th Företag
        %th Senast inloggad
        %th IP-adress

    %tbody
      - @sellers.each do |seller|
        %tr
          %td= seller.name
          %td= seller.p_number
          %td= seller.email
          %td= seller.company_name
          %td= seller.last_login_at.to_s[0...20]
          %td= seller.ip
