.box-content
  = simple_form_for @time_slot, html: { class: "basic" } do |f|
    = f.error_notification class: "warning"

    = f.input :from
    = f.input :to

    = render 'application/submit', form: f, cancel_path: time_slots_path
