- title 'Bokningstid'
%section.box.show
  %h1.box-title
    = h1
  .box-content.basic.form-data
    .form-group
      = link_to 'Redigera', edit_time_slot_path(@time_slot), class: 'btn btn-default'

    = form_for @time_slot, html: { class: 'basic' } do |f|
      = show_attribute('time_slot.from', @time_slot.from)
      = show_attribute('time_slot.to', @time_slot.to)

      = render 'bookings'
