.box-content
  = simple_form_for @booking, html: { class: "basic" } do |f|
    = f.error_notification class: "warning"

    = f.input :place
    = f.input :starts_at

    = render 'application/submit', form: f, cancel_path: bookings_path
