.box-content
  = simple_form_for @booking, html: { class: "basic" } do |f|
    = f.error_notification class: "warning"

    = f.association :company,
      include_blank: false
    = f.association :place,
      collection: @active_places,
      include_blank: false
    = f.input :date, as: :string, wrapper: :datepicker
    = f.association :time_slot,
      include_blank: false,
      selected: @booking.time_slot&.id,
      label_method: lambda { |time_slot| interval(time_slot) }

    = render 'application/submit', form: f, cancel_path: bookings_path
