- title "Bokningstider i aktuell bokningsperiod"
%section.box.index
  %h1.box-title= h1
  .box-content
    .help-block
      = "Nuvarande period varar #{serving_period_interval(@booking_period)}."
      = "Det går att boka tider #{booking_period_interval(@booking_period)}."
  %table.full.wrap
    %thead
      %tr
        %th Aktör
        %th Plats
        %th Tid
        %th

    %tbody
      - @bookings.each do |booking|
        %tr
          %td= booking.company.name
          %td= booking.place.name
          %td= date_and_time(booking)
          %td.delete= button_to 'Avboka', booking, method: :delete, data: { confirm: 'Är du säker?' }, class: "btn btn-danger btn-sm"
          -# TODO: dummy data
          - if rand(1..2) == 1
            %tr
              %td= booking.company.name
              %td= booking.place.name
              %td= date_and_time(booking)
              %td
                .actions= link_to 'Boka', new_booking_path, class: "btn btn-primary btn-sm"
