%h1 Listing bookings

%table
  %thead
    %tr
      %th Place
      %th Starts at
      %th
      %th
      %th

  %tbody
    - @bookings.each do |booking|
      %tr
        %td= booking.place
        %td= booking.starts_at
        %td= link_to 'Show', booking
        %td= link_to 'Edit', edit_booking_path(booking)
        %td= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Booking', new_booking_path
