- title "Aktörer"
%section.box.index
  %h1.box-title= h1
  %table.full.wrap
    %thead
      %tr
        %th Namn
        %th Organisationsnummer
        %th Tillstånd aktivt

    %tbody
      - @companies.each do |company|
        %tr
          %td= link_to company.name, company_path(company)
          %td= company.org_number
          %td= company.active_permit? ? 'Ja' : 'Nej'
      %tr
        %td{ colspan: 3 }
          .actions= link_to t('actions.new'), new_company_path, class: "btn btn-primary"
