- title "Administratörer"
%section.box.index
  %h1.box-title= h1
  .box-content
    .help-inline Denna lista visar information om administratörer som har loggat in i systemet. Administratörer hanteras via katalogen Intra.
  %table.full.wrap
    %thead
      %tr
        %th Användarnamn
        %th Senast inloggad
        %th IP-adress

    %tbody
      - @admins.each do |admin|
        %tr
          %td= link_to admin.username, "https://minsida.malmo.se/users/#{admin.username}"
          %td= admin.last_login_at.to_s[0...20]
          %td= admin.ip
