%h1.box-title= 'Boka ny tid'
.box-content
  .help-block
    %p= "Nuvarande försäljningsperiod är #{serving_period_interval(@booking_period)}."
    %p= "Det går att boka tider #{booking_period_interval(@booking_period)}."

  - unless current_seller.company.active_permit?
    .help-block.warning= "#{current_seller.company.name} har inget aktivt tillstånd"
  - else
    %table.full.wrap
      %tbody
        %thead
          %tr
            %th Plats
            %th Dag
            %th Tid
            %th

        %tbody
        - @booking_period.bookings.each do |booking|
          %tr
            %td= booking.place.name
            %td= booking.date
            %td= interval(booking.time_slot)
            %td
              .actions= link_to 'Boka', seller_bookings_path, class: "btn btn-primary btn-sm"
            -# TODO: remove
            %tr
              %td= booking.place.name
              %td= booking.date + 1.day
              %td= interval(booking.time_slot)
              %td= 'Ej ledig'
