%h1.box-title= h1
- if @bookings.empty?
  .box-content
    .help-block= "#{@company.name} har för närvarande inga bokningar"

- else
  .box-content
    .help-block= link_to 'Ladda ned bokningar som Excelfil', seller_bookings_path(format: :xlsx)

  %table.full.wrap
    %thead
      %tr
        %th Plats
        %th Dag
        %th Tid
        %th

    %tbody
    - @bookings.each do |booking|
      %tr
        %td= booking.place.name
        %td= booking.date
        %td= interval(booking.time_slot)
        %td.delete= button_to 'Avboka', cancel_seller_booking_path(booking),
          method: :patch, data: { confirm: 'Är du säker på att du vill avboka?' }, class: "btn btn-danger btn-sm"
