%h1.box-title= h1
- if !current_seller.company.active_permit?
  .box-content
    .help-block= = "#{current_seller.company.name} har inget aktivt försäljningstillstånd"
- else
  %table.full.wrap
    %tbody
      %thead
        %tr
          %th Plats
          %th Dag
          %th Tid
          %th

        %tbody
        - @bookable_periods.each do |period|
          - period.bookings.each do |booking|
            %tr
              %td= booking.place.name
              %td= booking.date
              %td= interval(booking.time_slot)
              %td
                - if booking.free?
                  .actions= link_to 'Boka', seller_bookings_path, class: "btn btn-primary btn-sm"
                - else
                  = 'Ej ledig'
