%section.box.index
  %h1.box-title= h1
  = render 'schedule_filter'
  %table.full.wrap#booking-schedule
    %tbody
      %thead
        %tr
          %th Plats
          %th Dag
          %th Tid
          %th

        %tbody
          - @bookings.each do |booking|
            %tr{ data: { 'place': booking.place.id, 'date': booking.date, 'time-slot': booking.time_slot.id }}
              %td= booking.place.name
              %td= booking.date
              %td= interval(booking.time_slot)
              %td
                - if booking.free?
                  .actions= link_to 'Boka', seller_booking_path(booking), method: :patch, class: "btn btn-primary btn-sm"
                - elsif current_seller.allowed_to_manage_booking(booking)
                  = 'Bokad av er'
                - else
                  = 'Bokad'
