- title 'Plats'
%section.box.show
  %h1.box-title
    = h1
  .box-content.basic.form-data
    .form-group
      = link_to 'Redigera', edit_place_path(@place), class: 'btn btn-default'

    = form_for @place, html: { class: 'basic' } do |f|
      = show_attribute('place.name', @place.name)
      = render 'bookings'
