%nav.app.basic
  %h1 Vagnar
  %ul
    %li.booking= link_to "Boka", bookings_path
    - if current_seller
      %li= link_to 'Logga ut', logout_path
    - else
      %li= link_to 'Logga in', login_path

  - if can? :manage, :all
    %h1 Administration
    %ul
      %li.users= link_to "Administratörer", admins_path
      %li= link_to "Logga ut", admin_logout_path
