%nav.app.basic
  %h1 Information
  %ul
    %li= link_to 'Om serveringsvagnar', 'http://malmo.se/serveringsvagnar'

  - if current_seller
    %h1= "#{current_seller&.company&.name}"
    %ul
      %li.booking= link_to "Våra bokningar", seller_bookings_path
      %li= link_to "Logga ut", seller_auth_logout_path
  - else
    %h1= "Hantera bokningar"
    %ul
      %li= link_to 'Logga in', seller_auth_login_path

  - if current_admin
    %h1 Administrera
    %ul
      %li= link_to "Aktörer", companies_path
      %li= link_to "Ombud", sellers_path
      %li= link_to "Platser", places_path
      %li= link_to "Bokningar", bookings_path
      %li= link_to "Bokningsperioder", booking_periods_path
      %li= link_to "Bokningstider", time_slots_path
      %li= link_to "Administratörer", admins_path
      %li= link_to "Bokningingsarkiv", archive_bookings_path
      %li= link_to "Inställningar", settings_path
      %li= link_to "Logga ut", administrera_logout_path
