%nav.app.basic
  %h1 MEKS
  %ul
    %li.refugees= link_to "Ensamkommande barn", refugees_path
    %li.homes= link_to "Boenden", homes_path
    %li.statistics= link_to "Översikt", statistics_path
    - if can? :generate, :reports
      %li.reports= link_to "Rapporter", reports_path

  - if can? :manage, :all
    %h1 Systemadministration
    %ul
      %li.type_of_housings= link_to "Boendeformer", type_of_housings_path
      %li.target_groups= link_to "Boenden, målgrupper", target_groups_path
      %li.owner_types= link_to "Boenden, ägarformer", owner_types_path
      %li.legal_codes= link_to "Lagrum", legal_codes_path
      %li.rate_categories= link_to "Schablongrupper", rate_categories_path
      %li.payment_imports= link_to "Utbetalda schabloner", payment_imports_path
      %li.moved_out_reasons= link_to "Utflyttningsorsaker", moved_out_reasons_path
      %li.deregistered_reasons= link_to "Avslutsorsak", deregistered_reasons_path
      %li.municipalities= link_to "Kommuner", municipalities_path
      %li.countries= link_to "Länder", countries_path
      %li.languages= link_to "Språk", languages_path
      %li.genders= link_to "Kön", genders_path
      %li.type_of_relationships= link_to "Anhörigformer", type_of_relationships_path
      %li.settings= link_to "Inställningar", settings_path

  %h1 Användare
  %ul
    %li.users= link_to "Handläggare", users_path
    %li= link_to "Logga ut #{current_user.name}", logout_path
