%nav.app.basic
  %h1 Serveringsvagnar
  %ul
    - if current_user.has_role? :seller
      %li.booking= link_to "Mina bokningar", bookings_path
      %li= link_to 'Logga ut', logout_path
    - else
      %li= link_to 'Logga in', session_path

  - if current_user.has_role? :admin
    %h1 Administrera
    %ul
      %li= link_to "Administratörer", admin_accounts_path
      %li= link_to "Logga ut", administrera_logout_path
