%nav.app.basic
  %h1 Information
  %ul
    %li= link_to 'Om mobil försäljning', 'http://malmo.se/mobil-försäljning'

  - if current_seller
    %h1= "#{current_seller&.company&.name}"
    %ul
      %li.booking= link_to "Våra bokningar", seller_bookings_path
      %li.booking= link_to "Boka plats", schedule_seller_bookings_path
      %li= link_to "Logga ut", saml_logout_path
  - else
    %h1= "Hantera dina bokningar"
    %ul
      %li= link_to 'Logga in', saml_login_path

    - unless current_admin
      %section.box
        %h1.box-title= "Behandling av personuppgifter"
        .box-content.body-copy
          %p= "Tekniska nämnden ansvarar för behandling av dina personuppgifter i enlighet med EU:s dataskyddsförordning (2016/679). Du har rätt till att ta del av uppgifter som berör dig och även begära rättelse av dessa."

  - if current_admin
    %h1 Administrera
    %ul
      %li= link_to "Aktörer", companies_path
      %li= link_to "Ombud", sellers_path
      %li= link_to "Platser", places_path
      %li= link_to "Bokningar", bookings_path
      %li= link_to "Bokningsperioder", booking_periods_path
      %li= link_to "Bokningstider", time_slots_path
      %li= link_to "Administratörer", admins_path
      %li= link_to "Bokningingsarkiv", archive_bookings_path
      %li= link_to "Inställningar", settings_path
      %li= link_to "Logga ut", administrera_logout_path
